<!DOCTYPE html>
<head>
  <title>看診進度｜台北市立聯合醫院</title>
  <%- include('../utils/_head') %>
  <link rel='stylesheet' href='/stylesheets/clinic_progress/index.css' />
  <!-- <script src="/javascripts/index.js"></script> -->
</head>
<body>
  <%- include('../components/header') %>
  <%- include('../components/top-deco') %>
  <div class="d-flex flex-column align-items-center justify-content-center py-5" style="min-height: calc(100vh - 516px);">
    <div class="general__dev_placeholder">
      <h1>開發中</h1>
      <p>敬請期待！</p>
    </div>
    <div class="mt-4"><img src="/images/general/loading.gif" alt="loading" width="36"></div>
  </div>
  <%- include('../components/bottom-deco') %>
  <%- include('../components/footer') %>
  <%- include('../utils/_foot') %>
</body>
</html>